.MainContainer {
    width: 100%;
}

.Table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

.HeadingRow {
    text-align: left;
    font-weight: 600;
    border-bottom: .1px solid rgba(180, 180, 180, 0.5);
    height: 50px;
    background-color: #fff;
}

.Table > tr > td, .Table > tr > th {
    padding-left: 8px;
}

.TableHeadings {
    font-weight: 600;
    text-align: left;
    padding: 0 12px;
    box-sizing: border-box;
}

.RowDataEntries {
    border-bottom: 2px solid #F6F7FB;
    margin-bottom: 2px;
    background-color: #fff;
    height: 60px;
}