.MainContainer {
    display: flex;
    box-shadow: 0 0 18px rgba(180, 180, 180,0.5);
    padding: 12px ;
    box-sizing: border-box;
    border-radius: 4px;
    flex-direction: column;
    width: 100%;
}

.FormInputFields {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 2px 6px 2px;
    margin-bottom: 16px;
    border: none;
    border-bottom: 1.5px solid #aaa;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}